<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Search city <span class="caret"></span>
</button>
<div class="dropdown-menu">

    <input type="text" class="form-control search-input" autocomplete="off">

    <ul class="dropdown-menu inner" role="menu">
    </ul>
</div>
