<div class='modal fade' id='add_city_modal' tabindex='-1' role='dialog' aria-labelledby='modal_title'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title' id='modal_title'>
                    <% if(!name) { %>
                        Add new city
                    <% } else { %>
                        Edit <%=name %>
                    <% } %>
                </h4>
            </div>
            <div class='modal-body'>
                <form class='form-horizontal' enctype="multipart/form-data">
                    <div class='form-group'>
                        <label for='city_name' class='col-sm-2 control-label'>Name</label>
                        <div class='col-sm-10'>
                            <input type='text' name='name' class='form-control' id='city_name' placeholder='Name' autofocus value="<%=name %>" >
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='kml' class='col-sm-2 control-label'>File</label>
                        <div class='col-sm-10'>
                            <input type='file' class='form-control' id='kml' name='uploaded_file' data-target='#city_name'>
                            <p class='help-block'>KML, KMZ, ZIP files only</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
                <button type='button' class='btn btn-success submit'>
                    <% if(!name) { %>
                        Add
                    <% } else { %>
                        Save
                    <% } %>
                </button>
            </div>
        </div>
    </div>
</div>
