<div class='modal fade' id='add_marker_modal' tabindex='-1' role='dialog' aria-labelledby='modal_title'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title' id='modal_title'>
                    <% if(!data.name_ru) { %>
                        Add new marker
                    <% } else { %>
                        Edit <%=data.name_ru %>
                    <% } %>
                </h4>
            </div>
            <div class='modal-body'>
                <form class='form-horizontal'>
                    <div class='form-group'>
                        <label for='marker_name_uk' class='col-sm-2 control-label'>Ukrainian name</label>
                        <div class='col-sm-10'>
                            <input type='text' name='name_uk' class='form-control' id='marker_name_uk' placeholder='Ukrainian name' autofocus value="<%=data.name_uk ? data.name_uk : 'Справжній 3G у ' %>" >
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='marker_name_ru' class='col-sm-2 control-label'>Russian name</label>
                        <div class='col-sm-10'>
                            <input type='text' name='name_ru' class='form-control' id='marker_name_ru' placeholder='Russian name' value="<%=data.name_ru ? data.name_ru : 'Настоящий 3G в ' %>">
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='marker_name_en' class='col-sm-2 control-label'>English name</label>
                        <div class='col-sm-10'>
                            <input type='text' name='name_en' class='form-control' id='marker_name_en' placeholder='English name' value="<%=data.name_en ? data.name_en : 'Real 3G in ' %>">
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='marker_region' class='col-sm-2 control-label'>Region</label>
                        <div class='col-sm-10'>
                            <select class='form-control' id='marker_region' name="region">
                                <option value=""></option>
                                <% _.each(regions, function(region) { %>
                                    <option value="<%=region.id %>" <% if(data.region == region.id){ %> selected <% } %>><%=region.name_ru %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='marker_district' class='col-sm-2 control-label'>District</label>
                        <div class='col-sm-10'>
                            <select class='form-control' id='marker_district' name="district">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <% if(data.name_ru) { %>
                        <div class='form-group'>
                            <label for='marker_lat' class='col-sm-2 control-label'>Lat</label>
                            <div class='col-sm-10'>
                                <input type='text' name='lat' class='form-control' id='marker_lat' placeholder='Lat' value="<%=data.lat %>">
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for='marker_lng' class='col-sm-2 control-label'>Lng</label>
                            <div class='col-sm-10'>
                                <input type='text' name='lng' class='form-control' id='marker_lng' placeholder='Lng' value="<%=data.lng %>">
                            </div>
                        </div>
                    <% } else { %>
                        <input type='hidden' name='lat'value="<%=data.lat %>">
                        <input type='hidden' name='lng' value="<%=data.lng %>">
                        <input type='hidden' name='is_new' value="1">
                    <% } %>
                </form>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
                <button type='button' class='btn btn-success submit'>
                    <% if(!data.name_ru) { %>
                        Add
                    <% } else { %>
                        Save
                    <% } %>
                </button>
            </div>
        </div>
    </div>
</div>
