<div class='modal fade' id='add_region_modal' tabindex='-1' role='dialog' aria-labelledby='modal_title'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title' id='modal_title'>
                    <% if(!(typeof(name_ru)!== 'undefined' && name_ru)) { %>
                        Add new region
                    <% } else { %>
                        Edit <%=(typeof(name_ru)!== 'undefined' ?  name_ru : '') %>
                    <% } %>
                </h4>
            </div>
            <div class='modal-body'>
                <form class='form-horizontal'>
                    <div class='form-group'>
                        <label for='region_name_uk' class='col-sm-2 control-label'>Ukrainian name</label>
                        <div class='col-sm-10'>
                            <input type='text' name='name_uk' class='form-control' id='region_name_uk' placeholder='Ukrainian name' autofocus value="<%=(typeof(name_uk)!== 'undefined' ?  name_uk : '') %>" >
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='region_name_ru' class='col-sm-2 control-label'>Russian name</label>
                        <div class='col-sm-10'>
                            <input type='text' name='name_ru' class='form-control' id='region_name_ru' placeholder='Russian name' value="<%=(typeof(name_ru)!== 'undefined' ?  name_ru : '') %>">
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='region_name_en' class='col-sm-2 control-label'>English name</label>
                        <div class='col-sm-10'>
                            <input type='text' name='name_en' class='form-control' id='region_name_en' placeholder='English name' value="<%=(typeof(name_en)!== 'undefined' ?  name_en : '') %>">
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='region_title_uk' class='col-sm-2 control-label'>Ukrainian title</label>
                        <div class='col-sm-10'>
                            <input type='text' name='title_uk' class='form-control' id='region_title_uk' placeholder='Ukrainian title' autofocus value="<%=(typeof(title_uk)!== 'undefined' ?  title_uk : '') %>" >
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='region_title_ru' class='col-sm-2 control-label'>Russian title</label>
                        <div class='col-sm-10'>
                            <input type='text' name='title_ru' class='form-control' id='region_title_ru' placeholder='Russian title' value="<%=(typeof(title_ru)!== 'undefined' ?  title_ru : '') %>">
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='region_title_en' class='col-sm-2 control-label'>English title</label>
                        <div class='col-sm-10'>
                            <input type='text' name='title_en' class='form-control' id='region_title_en' placeholder='English title' value="<%=(typeof(title_en)!== 'undefined' ?  title_en : '') %>">
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='region_lat' class='col-sm-2 control-label'>Lat</label>
                        <div class='col-sm-10'>
                            <input type='text' name='lat' class='form-control' id='region_lat' placeholder='Lat' value="<%=(typeof(lat)!== 'undefined' ?  lat : '') %>">
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='region_lng' class='col-sm-2 control-label'>Lng</label>
                        <div class='col-sm-10'>
                            <input type='text' name='lng' class='form-control' id='region_lng' placeholder='Lng' value="<%=(typeof(lng)!== 'undefined' ?  lng : '') %>">
                        </div>
                    </div>
                </form>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
                <button type='button' class='btn btn-success submit'>
                    <% if(!(typeof(name_ru)!== 'undefined' && name_ru)) { %>
                        Add
                    <% } else { %>
                        Save
                    <% } %>
                </button>
            </div>
        </div>
    </div>
</div>
