#map {
    width: 100%;
    /*margin-top: 10px;*/
}
.scroll {
    height: inherit;
    overflow-y: scroll;
}
.menu-row {
    margin: 10px 0;
}
.tab-content > .tab-pane {
    height: inherit;
}
.open > .dropdown-menu > .dropdown-menu.inner {
    display: block;
}
body.loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(./loading.gif) center center no-repeat rgba(255, 255, 255, 0.7);
}
