<div class='modal fade' id='add_district_modal' tabindex='-1' role='dialog' aria-labelledby='modal_title'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title' id='modal_title'>
                    <% if(!data.name_ru) { %>
                        Add new district
                    <% } else { %>
                        Edit <%=data.name_ru %>
                    <% } %>
                </h4>
            </div>
            <div class='modal-body'>
                <form class='form-horizontal'>
                    <div class='form-group'>
                        <label for='district_name_uk' class='col-sm-2 control-label'>Ukrainian name</label>
                        <div class='col-sm-10'>
                            <input type='text' name='name_uk' class='form-control' id='district_name_uk' placeholder='Ukrainian name' autofocus value="<%=data.name_uk %>" >
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='district_name_ru' class='col-sm-2 control-label'>Russian name</label>
                        <div class='col-sm-10'>
                            <input type='text' name='name_ru' class='form-control' id='district_name_ru' placeholder='Russian name' value="<%=data.name_ru %>">
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='district_name_en' class='col-sm-2 control-label'>English name</label>
                        <div class='col-sm-10'>
                            <input type='text' name='name_en' class='form-control' id='district_name_en' placeholder='English name' value="<%=data.name_en %>">
                        </div>
                    </div>
                    <div class='form-group'>
                        <label for='district_region' class='col-sm-2 control-label'>Region</label>
                        <div class='col-sm-10'>
                            <select class='form-control' id='district_region' name="region">
                                <% _.each(regions, function(region) { %>
                                    <option value="<%=region.id %>" <% if(data.region == region.id){ %> selected <% } %>><%=region.name_ru %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
                <button type='button' class='btn btn-success submit'>
                    <% if(!data.name_ru) { %>
                        Add
                    <% } else { %>
                        Save
                    <% } %>
                </button>
            </div>
        </div>
    </div>
</div>
