<div class="col-lg-9 col-md-9 col-sm-9">
    <%=created_at %>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
    <input type="radio" name="current" value="1" <%=(current) ? 'checked' : '' %>>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
    <i class="fa fa-times delete"></i>
</div>
<div class="clearfix"></div>
