<div class="col-lg-7 col-md-7 col-sm-7">
    <%=name %>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
    <i class="fa fa-download download"></i>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
    <i class="fa fa-paint-brush smooth"></i>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
    <i class="fa fa-pencil-square-o edit"></i>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
    <i class="fa fa-times delete"></i>
</div>
<div class="clearfix"></div>
